.navbar.navbar-fixed-top
  .navbar-inner
    %a.brand(href='#')
      PiggyBank

    %ul.nav
      %li.active
        %a(href='#')
          Account
      %li
        %a(href='#')
          Invest
      %li
        %a(href='#')
          Help
      %li
        %a(href='#')
          FAQ
      %li
        %a(href='#')
          Blog

    %ul.nav.right
      %li
        %a(href='#')
          Sign In
