- require 'faker'

.container
  %h1 PiggyBank Team

  .row.team
    .span4
      .image
        %img(src='assets/pat.jpg')
        %h3
          %span
            Pat McGrath
      %p.title
        Founder
      %p= Faker::Lorem.paragraph(sentence_count = 8)
    .span4
      .image
        %img(src='assets/ben.jpg')
        %h3
          %span
            Ben Pellow
      %p.title
        Founder
      %p= Faker::Lorem.paragraph(sentence_count = 10)
    .span4
      .image
        %img(src='assets/joel.png')
        %h3
          %span
            Joel Karacozoff
          %br
      %p.title
        Founder
      %p= Faker::Lorem.paragraph(sentence_count = 9)

