.container
  %h1 Welcome to PiggyBank

  .row
    .span6
      %h2.center
        Give a gift that matters
    .span6
      .calculator
        Investment Calculator
        %hr
        = render partial: "shared/welcome_calculator"
