%p
  %label{:for => "amount"} Average monthly donation amount ($20 increments):
  %input#amountA{:style => "border: 0; color: #f6931f; font-weight: bold;", :type => "text"}
#sliderA

%p
  %label{:for => "amount"} Years until College:
  %input#amountN{:style => "border: 0; color: #f6931f; font-weight: bold;", :type => "text"}
#sliderN

%p
  Principle:
  %span#principle

%p
  Future Value:
  %span#futureValue
