%p
  %label{:for => "amount"} Average monthly donation amount ($20 increments):
  %input#amountA{:style => "border: 0; color: #f6931f; font-weight: bold;", :type => "text"}
#sliderA.slider

%p
  %label{:for => "amount"} Years until College:
  %input#amountN{:style => "border: 0; color: #f6931f; font-weight: bold;", :type => "text"}
#sliderN.slider

%p
  %span.title Principle:
  %span#principle

%p
  %span.title Future Value:
  %span#futureValue

%p
  %span.subtitle Total Interest Received:
  %span#totalInterest

%p
  %span.subtitle Percent Interest Received:
  %span#percentInterest
