// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.title {
  font-size: 40px;
}
span.subtitle {
  font-size: 30px;
}

#principle {
  font-size: 50px;
  color: orange;
}


#futureValue {
  font-size: 50px;
  color: green;
}

#totalInterest, #percentInterest {
  font-size: 30px;
  color: blueviolet;
}

.slider {
  max-width: 600px;
}
