// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.span6 .calculator {
  border: solid 1px;
  padding: 10px;
  margin-top: 20px;
}

h2 {
  padding-top: 100px;
}

button.continue {
  margin: 10px 0 0 15px;
}

.faq-item {
  padding-top: 40px;
}

.team {
  margin-top: 40px;
  .image {
    position: relative;
  }
  h3 {
    position: absolute;
    margin-top: 2px;
    top: 0;
    left: 0;
    width: 100%;
    span {
      color: white;
      font: bold 24px/45px Helvetica, Sans-Serif;
      letter-spacing: -1px;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
    }
  }
  .title {
    font: bold 18px/30px Helvetica, Sans-Serif;
  }
  img {
    margin-bottom: 20px;
  }
}
